In [1]:
import numpy as np
from pandas import DataFrame,Series
import pandas as pd

from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index =['A', 'B', 'C', 'D'])

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [7]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'co3', 'col4', 'col5'])

In [12]:
dframe

       col1      col2       co3      col4      col5
A  1.214075 -0.576079 -0.449045  0.264270  1.739269
B -2.680124 -1.178022 -0.474924  1.054385 -2.199724
D -1.011042 -0.203590  0.741412 -0.582090  0.013642
E  0.852553 -0.629334 -0.533723  0.495707  1.867272
F -0.349925  0.878219  1.735948 -1.525461 -1.544648

In [13]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [15]:
dframe2

       col1      col2       co3      col4      col5
A  1.214075 -0.576079 -0.449045  0.264270  1.739269
B -2.680124 -1.178022 -0.474924  1.054385 -2.199724
C       NaN       NaN       NaN       NaN       NaN
D -1.011042 -0.203590  0.741412 -0.582090  0.013642
E  0.852553 -0.629334 -0.533723  0.495707  1.867272
F -0.349925  0.878219  1.735948 -1.525461 -1.544648

In [16]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [17]:
dframe2.reindex(columns=new_columns)

       col1      col2  col3      col4      col5  col6
A  1.214075 -0.576079   NaN  0.264270  1.739269   NaN
B -2.680124 -1.178022   NaN  1.054385 -2.199724   NaN
C       NaN       NaN   NaN       NaN       NaN   NaN
D -1.011042 -0.203590   NaN -0.582090  0.013642   NaN
E  0.852553 -0.629334   NaN  0.495707  1.867272   NaN
F -0.349925  0.878219   NaN -1.525461 -1.544648   NaN

In [18]:
dframe

       col1      col2       co3      col4      col5
A  1.214075 -0.576079 -0.449045  0.264270  1.739269
B -2.680124 -1.178022 -0.474924  1.054385 -2.199724
D -1.011042 -0.203590  0.741412 -0.582090  0.013642
E  0.852553 -0.629334 -0.533723  0.495707  1.867272
F -0.349925  0.878219  1.735948 -1.525461 -1.544648

In [20]:
dframe.ix[['A','B','C', 'D', 'E', 'F'], new_columns]

       col1      col2  col3      col4      col5  col6
A  1.214075 -0.576079   NaN  0.264270  1.739269   NaN
B -2.680124 -1.178022   NaN  1.054385 -2.199724   NaN
C       NaN       NaN   NaN       NaN       NaN   NaN
D -1.011042 -0.203590   NaN -0.582090  0.013642   NaN
E  0.852553 -0.629334   NaN  0.495707  1.867272   NaN
F -0.349925  0.878219   NaN -1.525461 -1.544648   NaN