In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
arr1 = np.arange(9).reshape(3,3)

In [5]:
np.concatenate([arr1, arr1], axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [6]:
np.concatenate([arr1, arr1], axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [7]:
ser1 = Series([0,1,2], index=['T', 'U', 'V'])
ser2 = Series([3,4], index=['X', 'Y'])

In [9]:
pd.concat([ser1,ser2], axis=0)

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [10]:
pd.concat([ser1,ser2], axis=1)

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [11]:
pd.concat([ser1,ser2], axis=0, keys=['cat1', 'cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [14]:
dframe1 = DataFrame(np.random.randn(4,3), columns=['X', 'Y', 'Z'])

In [15]:
dframe2 = DataFrame(np.random.randn(3,3), columns=['Y', 'Q', 'X'])

In [16]:
pd.concat([dframe1, dframe2])

          Q         X         Y         Z
0       NaN -0.249939  0.722401 -1.706570
1       NaN  1.818554  0.279813  0.865695
2       NaN  0.609562 -0.433680  1.386421
3       NaN -0.550459  0.520273 -1.539290
0  0.300158 -0.112388  1.183463       NaN
1  1.558093 -1.046223  1.491392       NaN
2  0.757474  0.419251  1.734149       NaN

In [17]:
pd.concat([dframe1, ser1])

     0         X         Y         Z
0  NaN -0.249939  0.722401 -1.706570
1  NaN  1.818554  0.279813  0.865695
2  NaN  0.609562 -0.433680  1.386421
3  NaN -0.550459  0.520273 -1.539290
T  0.0       NaN       NaN       NaN
U  1.0       NaN       NaN       NaN
V  2.0       NaN       NaN       NaN