In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [9]:
dframe = pd.read_csv('lect25.csv')

In [10]:
dframe

   q   r   s   t    apple
0  2   3   4   5     pear
1  a   s   d   f   rabbit
2  5   2   5   7      dog

In [11]:
dframe = pd.read_csv('lect25.csv', header= None)

In [12]:
dframe

   0   1   2   3        4
0  q   r   s   t    apple
1  2   3   4   5     pear
2  a   s   d   f   rabbit
3  5   2   5   7      dog

In [13]:
dframe = pd.read_table('lect25.csv', sep=',', header = None)

In [14]:
dframe

   0   1   2   3        4
0  q   r   s   t    apple
1  2   3   4   5     pear
2  a   s   d   f   rabbit
3  5   2   5   7      dog

In [15]:
pd.read_csv('lect25.csv', header=None, nrows=2)

   0   1   2   3       4
0  q   r   s   t   apple
1  2   3   4   5    pear

In [16]:
dframe.to_csv('mytextdata_out.csv')

In [18]:
pd.read_csv('mytextdata_out.csv')

   Unnamed: 0  0   1   2   3        4
0           0  q   r   s   t    apple
1           1  2   3   4   5     pear
2           2  a   s   d   f   rabbit
3           3  5   2   5   7      dog

In [19]:
import sys

In [20]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q, r, s, t, apple
1,2, 3, 4, 5, pear
2,a, s, d, f, rabbit
3,5, 2, 5, 7, dog

In [21]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_ r_ s_ t_ apple
1_2_ 3_ 4_ 5_ pear
2_a_ s_ d_ f_ rabbit
3_5_ 2_ 5_ 7_ dog

In [22]:
dframe.to_csv(sys.stdout, sep='?')

?0?1?2?3?4
0?q? r? s? t? apple
1?2? 3? 4? 5? pear
2?a? s? d? f? rabbit
3?5? 2? 5? 7? dog

In [25]:
dframe.to_csv(sys.stdout, columns=[0,1,2])

,0,1,2
0,q, r, s
1,2, 3, 4
2,a, s, d
3,5, 2, 5